.textArea {
  textarea {
    resize: none;
    padding: 15px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    background: #efeefc;
    border-radius: 6px;
  }
}
