.modal {
  .ant-modal-content {
    background-image: url('../../../assets/images/background_modal_header.png');
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .ant-modal-header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 94px !important;
    border-radius: 10px 10px 0 0;
    background: transparent !important;
  }

  .ant-modal-body {
    background-image: url('../../../assets/images/background_modal_body.png');
    background-size: 401px 263px;
    background-position: right bottom;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 0;
  }

  .ant-modal-close {
    top: 20px !important;
    right: 35px !important;
  }

  .ant-modal-close-x {
    width: 24px !important;
    height: 24px !important;
  }
}
